@using TemplateKAO.Services.Zone.ViewModal
@{
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    ViewData["Title"] = "Home Page";
    var zone = ViewBag.Zone as List<ZoneByTreeViewMinify>;
}

<h1>Vao trang chu</h1>