@using PhamGiaLandingPage.Web.Services.Product.Repository
@using PhamGiaLandingPage.Web.Services.Zone.Repository
@using MI.Entity.Enums
@using PhamGiaLandingPage.Web.Services.BannerAds.Repository
@using PhamGiaLandingPage.Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using PhamGiaLandingPage.Web.Services.Article.Repository
@using Newtonsoft.Json
@using PhamGiaLandingPage.Web.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@using PhamGiaLandingPage.Web.Services.Extra.ViewModel
@using PhamGiaLandingPage.Web.Services.Extra.Repository
@using Microsoft.AspNetCore.Http.Extensions

@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository
@using Utils

@{
    var tn = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DetailBanerAds>>(Model);
    if (tn != null)
    {
        foreach (var item in tn)
        {
            <li>
                <div class="uk-card uk-card-default uk-text-center home__section07__box4">
                    <div class="home__section07__box4__img uk-flex uk-flex-middle uk-flex-center">
                        <img src="@UIHelper.StoreFilePath(item.Image, false)" alt="@item.Title">
                    </div>
                    <div class="uk-card-body home__section07__box4__body">
                        <ul class="uk-list home__section07__box4__list">
                            @{
                                var ll = UIHelper.ClearHtmlTag(item.Description).Split("|");
                                foreach (var i in ll)
                                {
                                    <li>@Html.Raw(i)</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </li>
        }
    }

}
